:root {
	--nc-font-sans: 'Noto Sans', sans-serif; /*leturgerð sótt af fonts.google.com */
	/*--nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
	--nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
	/* Light theme */
	--nc-tx-1: #000000;	/* H1-H6 */
	--nc-tx-2: #1A1A1A;	/* Body text */
	--nc-bg-1: #FFFFFF; 	/* Bakgrunnur 1 */
	--nc-bg-2: #F6F8FA;	/* Bakgrunnur 2 */
	--nc-bg-3: #E5E7EB;	/* Bakgrunnur 3 (border line form, ofl)*/
	--nc-bg-4:#0fdcdc;
	--nc-lk-1: #0070F3;	/* A tengill (link) */
	--nc-lk-2: #0366D6;	/* A tengill (hover) */
	--nc-lk-tx: #010101;	/* Button + input type */
	--nc-ac-1: #79FFE1;	/* Bakgrunnur selection + mark */
	--nc-ac-tx: #0C4047;	/* Selection + mark*/
	--nc-custom-tx:rgb(55, 55, 55);
	--nc-button: rgb(250, 195, 12);
	--nc-button_hover:rgb(176, 142, 29);
	--nc-banner: #107170;


	/* Dark theme */
	--nc-d-tx-1: #ffffff;
	--nc-d-tx-2: #eeeeee;
	--nc-d-bg-1: #000000;
	--nc-d-bg-2: #111111;
	--nc-d-bg-3: #222222;
	--nc-d-bg-4: #0C4047;	
	--nc-d-lk-1: #3291FF;
	--nc-d-lk-2: #0070F3;
	--nc-d-lk-tx: #FFFFFF;
	--nc-d-ac-1: #7928CA;
	--nc-d-ac-tx: #FFFFFF;
	--nc-d-custom-tx:rgb(255, 0, 0);
	--nc-d-button: rgb(201, 165, 47);
	--nc-d-button_hover: rgb(113, 89, 11);
	--nc-d-banner: #0d5d5b;
}
@media (prefers-color-scheme: dark) {
	:root {
		--nc-tx-1: var(--nc-d-tx-1);
		--nc-tx-2: var(--nc-d-tx-2);
		--nc-bg-1: var(--nc-d-bg-1);
		--nc-bg-2: var(--nc-d-bg-2);
		--nc-bg-3: var(--nc-d-bg-3);
		--nc-bg-4: var(--nc-d-bg-4);
		--nc-lk-1: var(--nc-d-lk-1);
		--nc-lk-2: var(--nc-d-lk-2);
		--nc-lk-tx: var(--nc-d-lk-tx);
		--nc-ac-1: var(--nc-d-ac-1);
		--nc-ac-tx: var(--nc-d-ac-tx);
		--nc-custom-tx: var(--nc-d-custom-tx);
		--nc-button: var(--nc-d-button);
		--nc-button_hover: var(--nc-d-button_hover);
		--nc-banner: var(--nc-d-banner);

		
	}
}
* {
	/* Reset margins and padding */
	margin: 0;
	padding: 0;
}
address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
	/* Margins for most elements */
	margin-bottom: 1rem;

}
html,input,select,button {
	/* Set body font family and some finicky elements */
	font-family: var(--nc-font-sans);
}
body {
	/* Center body in page */
	margin: 0 auto;
	max-width: 750px;
	padding: 2rem;
	border-radius: 6px;
	overflow-x: hidden;
	word-break: break-word;
	overflow-wrap: break-word;
	background: var(--nc-bg-1);
	/* Main body text */
	color: var(--nc-tx-2);
	font-size: 1.03rem;
	line-height: 1.5;
}
.splash{
	cursor : pointer;
	position : fixed;
	top : 50%;
	left : 50%;
	height : 100%;
	width : 100%;
	transform : translate(-50%,-50%);    
	background-color: var(--nc-banner);
	transition : all ease-in-out 600ms;
	z-index: 2;
  }
  .hidden{
	transition : 0.5s;
	display : none;
  }
  .splash-header {
	height : 90%;
	color : white;
	font-family : consolas;
	font-size : 30px;
	display : flex;
	justify-content: center;
	align-items : center;
	text-align: center;
  }
  .btn {
	/*   border : none; */
	/*   padding : 10px; */
	/*   position : fixed; */
	  z-index : -1;
	  left : 50%;
	  transform : translateX(-50%);
	}
nav{
	background: var(--nc-banner);
	margin: -2rem calc(50% - 50vw) 2rem;
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
	margin-bottom: 0;
	height: 5.4rem;
	text-align: center;
}
::selection {
	/* Set background color for selected text */
	background: var(--nc-ac-1);
	color: var(--nc-ac-tx);
}
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
	color: var(--nc-tx-1);
	padding-top: .875rem;
}
h1,
h2,
h3 {
	color: var(--nc-tx-1);
	padding-bottom: 2px;
	margin-bottom: 8px;
}
h4,
h5,
h6 {
	margin-bottom: .3rem;
}
h1 {
	font-size: 2.25rem;
}
h2 {
	font-size: 1.85rem;
}
h3 {
	font-size: 1.55rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1rem; /* ath */
}
h6 {
	font-size: .875rem;
}
a {
	color: var(--nc-lk-1);
}
a:hover {
	color: var(--nc-lk-2);
}
abbr:hover {
	/* Set the '?' cursor while hovering an abbreviation */
	cursor: help;
}
blockquote {
	padding: 1.5rem;
	background: var(--nc-bg-2);
	border-left: 5px solid var(--nc-bg-3);
}
abbr {
	cursor: help;
}
blockquote *:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}
header {
	background: var(--nc-bg-2);
	border-bottom: 1px solid var(--nc-bg-3);
	padding: 2rem 1.5rem;
	/* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */
	margin: -2rem calc(50% - 50vw) 2rem;
	/* Shorthand for:
	margin-top: -2rem;
	margin-bottom: 2rem;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw); */
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
	margin-bottom: 0;
}
header h1,
header h2,
header h3 {
	text-align: center;
	padding-bottom: 0;
	border-bottom: 0;
	font-weight: normal;
	color: var(--nc-custom-tx); 
}
header > *:first-child {
	margin-top: 0;
	padding-top: 0;
}
header > *:last-child {
	margin-bottom: 0;
}
.droplink {
	color: white;
	border: none;
}
button.droplink, button.droplink:enabled:hover,button.droplink:focus {
	background-color:var(--nc-banner)
}
button.droplink:enabled:hover {
	color: #0fdcdc;
}
nav button.selected  {
	color:#21aba9;
}
.topnav .icon {
	margin-top: 0.6rem;
	color: white;
	font-size: 1.5rem;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--nc-bg-3);
	min-width: 10rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 3.4rem;
	text-align: left;
} 
.dropdown {
	position: relative;
	display: inline-block;
	padding: 0.65rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.dropdown-content a {
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
	color: var(--nc-tx-1);
}
.dropdown-content a.selected{
	text-transform: uppercase;
	font-weight:bold;
	background-color: white;
}
.dropdown-content a:hover{
	background-color:var(--nc-bg-2);
 }
.dropdown:hover .dropdown-content {
	display: block;
}
.container {
	display: grid;
}
.landing {
	display: grid;
}
.col-2, 
.col-3,
.col-4,
.col-5,
.col-6{ 
	grid-template-columns: 1fr;
}
tfoot td{
	text-align: center;
}
form{
	border: solid green 1px;
    padding: 1rem;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 1rem;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: var(--nc-button);
	color: var(--nc-lk-tx);
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	color: var(--nc-lk-tx);
	
}
a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;
	/* Set the [X] cursor while hovering a disabled link */
	cursor: not-allowed;
}
button {
	background-color: var(--nc-button);
}
.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
	background: var(--nc-button_hover);
}
a img {
	margin-bottom: 0px;
}
#social{
	position: absolute;
    left: 5rem;
    top: 1rem;
}

#spiral{
	max-width:none;
	width: 10rem;
	color: #0d5d5b;
	position: absolute;
	right: 1rem;
	display: none;
}
img#madur {
	position: relative;
    bottom: -7rem;
	margin: 0;

}
.icon-home3:before {
	content: "\e902";
  }
.icon-file-text:before {
	content: "\e922";
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
	font-weight: bold;
  }
  .slideshow-container img {
	margin-bottom: 0;
  }
  .announcement-container {
	position: relative;
	background-color: rgb(220, 227, 21);
    text-align: center;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
    margin: -2rem calc(50% - 50vw) 2rem;
	margin-top: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    min-height: 9em;
  }
  
  /* Hide the images by default */
  .Slides {
	display: none;
	margin: 2rem;
  }
code,
pre,
kbd,
samp {
	/* Set the font family for monospaced elements */
	font-family: var(--nc-font-mono);
}
code,
samp,
kbd,
pre {
	/* The main preformatted style. This is changed slightly across different cases. */
	background: var(--nc-bg-2);
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
	padding: 3px 6px;
	/* ↓ font-size is relative to containing element, so it scales for titles*/
	font-size: 0.9em;
}
kbd {
	/* Makes the kbd element look like a keyboard key */
	border-bottom: 3px solid var(--nc-bg-3);
}
pre {
	padding: 1rem 1.4rem;
	max-width: 100%;
	overflow: auto;
}
pre code {
	/* When <code> is in a <pre>, reset it's formatting to blend in */
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}
code pre {
	/* When <pre> is in a <code>, reset it's formatting to blend in */
	display: inline;
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}
details {
	/* Make the <details> look more "clickable" */
	padding: .6rem 1rem;
	background: var(--nc-bg-2);
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
}
summary {
	/* Makes the <summary> look more like a "clickable" link with the pointer cursor */
	cursor: pointer;
	font-weight: bold;
}
details[open] {
	/* Adjust the <details> padding while open */
	padding-bottom: .75rem;
}
details[open] summary {
	/* Adjust the <details> padding while open */
	margin-bottom: 6px;
}
details[open]>*:last-child {
	/* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
	margin-bottom: 0;
}
dt {
	font-weight: bold;
}
dd::before {
	/* Add an arrow to data table definitions */
	content: '→ ';
}
hr {
	/* Reset the border of the <hr> separator, then set a better line */
	border: 0;
	border-bottom: 1px solid var(--nc-bg-3);
	margin: 1rem auto;
}
fieldset {
	margin-top: 1rem;
	padding: 2rem;
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
}
legend {
	padding: auto .5rem;
}
table {
	/* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
	border-collapse: collapse;
	width: 100%
}
td,
th {
	border: 1px solid var(--nc-bg-3);
	text-align: left;
	padding: .5rem;
}
th {
	background: var(--nc-bg-4);
	text-transform:uppercase;
}
tr:nth-child(even) {
	background: var(--nc-bg-4);
}
table caption {
	font-weight: bold;
	margin-bottom: .5rem;
}
textarea {
	/* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
	max-width: 100%;
}
ol,
ul {
	/* Replace the browser default padding */
	padding-left: 2rem;
}
li {
	margin-top: .4rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}
mark {
	padding: 3px 6px;
	background: var(--nc-ac-1);
	color: var(--nc-ac-tx);
}
textarea,
select,
input {
	padding: 6px 12px;
	margin-bottom: .5rem;
	background: var(--nc-bg-2);
	color: var(--nc-tx-2);
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
textarea,
input[type="text"]#nafn,input[type="tel"],input[type="email"]{
	width: 100%;
	
}
input[type="text"]#ferðamenn{
	display: block;
}
img {
	max-width: 100%;
}
.bannerBg h3,h2{
	text-align: center;
}

.dot{
	width: 100px;
	line-height: 100px;
	border-radius: 50%;
	text-align: center;
	background-color: rgb(232, 244, 62);
	padding: 0;
	margin: auto;
}
.center{
	text-align: center;
}
.value{
	text-align: center;
}
.rammi div{
	border:1px solid var(--nc-d-bg-3) ;
	text-align: center;
	padding: 0.5em;
	margin: 0.5em 0.1em 0.5em 0.1em;
}
.chat-button,.chat-button:hover{
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 40px;
	right: 28px;
	width: 90px;
  }
  .chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
  }
  .form-container {
	max-width: 300px;
	padding: 10px;
	background-color: var(--nc-bg-1);
  }
  .form-container textarea {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background-color:var(--nc-bg-2);
	resize: none;
	min-height: 200px;
  }
  .form-container textarea:focus {
	background-color: #ddd;
	outline: none;
  }
  .form-container .btn {
	background-color: var(--nc-banner);
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
  }
  .form-container .btn:hover {
	background-color:#107170;
  }
  .form-container .cancel {
	background-color: red;
  }
  .form-container .cancel:hover{
	background-color:rgb(232, 77, 77);
  }
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }

.animate__animated.animate__zoomInDown{
	--animate-duration: 2s;
}
@media screen and (min-width:37.5em) {
	.topnav .icon {
		display: none;
	}
    .col-2 {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        row-gap: 1em;
    }
	.col-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 1em;
        row-gap: 1em;
    } 
	.col-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        gap: 1em;
        row-gap: 1em;
    }
	.col-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        gap: 1em;
        row-gap: 1em;
    }
}
@media screen and (max-width:37.5em){
	#mobileBar{
		background-color: var(--nc-banner);
		height: 5.4rem;
		position: absolute;
		left: 0;
		top: 0;
		margin: -2rem calc(50% - 50vw) 2rem;
		padding-left: calc(50vw - 50%);
		padding-right: calc(50vw - 50%);
		margin-bottom: 0;
		z-index: -1;
		width: 100%;
	}
	#mobileBar.responsive{
		z-index: 0
	}
	.topnav .dropdown{display: none;}
 	.topnav a.icon {
    float: right;
    display: block;
	}
	.topnav.responsive {
		position: fixed;
		height: 80%;
		top: 2em;
		right: 0;
		transition: all .5s ease;
		z-index: 1;
		overflow-y: scroll;
        overflow-x: hidden;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 2rem;
		top: 0;
	}
	.topnav.responsive .dropdown{
		float: none;
		display: block;
		text-align: left;
	}
	.dropdown-content{
		display: block;
		position:unset;
		box-shadow: none;
		background-color:var(--nc-banner);
	}
	.topnav.responsive .dropdown-content a{
		background-color:var(--nc-banner);
		color:white;
		padding-left: 2rem;
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		display: none;
	}
	td { 
		display: grid;
		
		grid-template-columns: 1fr 2fr;
		line-height: 1.5;
		border-bottom: 1px solid #999;
		text-align: right;
	  }	
	td:before { 
		text-transform: uppercase;
		font-weight: bold;
		content: attr(data-title);
		padding-left: 5px;
		margin-left: -5px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: -5px;
		margin-bottom: -5px;
		text-align: left;
	  }
}