:root{--nc-font-sans:"Instrument Sans",serif;--nc-font-mono:Consolas,monaco,'Ubuntu Mono','Liberation Mono','Courier New',Courier,monospace;--nc-tx-1:#000000;--nc-tx-2:#1A1A1A;--nc-bg-1:#FFFFFF;--nc-bg-2:#F6F8FA;--nc-bg-3:#E5E7EB;--nc-bg-4:#a6d9ff;--nc-lk-1:#0070F3;--nc-lk-2:#0366D6;--nc-lk-tx:#010101;--nc-ac-1:#79FFE1;--nc-ac-tx:#0C4047;--nc-custom-tx:rgb(55, 55, 55);--nc-pink:#ffbfe3;--nc-pink_hover:#f88fcb;--nc-green:#c7ff99;--nc-orange:#ffc44d;--nc-blue:#a6d9ff;--nc-yellow:#ffffc9;--nc-d-tx-1:#ffffff;--nc-d-tx-2:#eeeeee;--nc-d-bg-1:#000000;--nc-d-bg-2:#111111;--nc-d-bg-3:#222222;--nc-d-bg-4:#5487ad;--nc-d-lk-1:#3291FF;--nc-d-lk-2:#0070F3;--nc-d-lk-tx:#FFFFFF;--nc-d-ac-1:#7928CA;--nc-d-ac-tx:#FFFFFF;--nc-d-custom-tx:rgb(255, 0, 0);--nc-d-pink:#f88fcb;--nc-d-pink_hover:#ffbfe3;--nc-d-green:#9de85f;--nc-d-yellow:#6f6f42}
@media (prefers-color-scheme:dark){
:root{--nc-tx-1:var(--nc-d-tx-1);--nc-tx-2:var(--nc-d-tx-2);--nc-bg-1:var(--nc-d-bg-1);--nc-bg-2:var(--nc-d-bg-2);--nc-bg-3:var(--nc-d-bg-3);--nc-bg-4:var(--nc-d-bg-4);--nc-lk-1:var(--nc-d-lk-1);--nc-lk-2:var(--nc-d-lk-2);--nc-lk-tx:var(--nc-d-lk-tx);--nc-ac-1:var(--nc-d-ac-1);--nc-ac-tx:var(--nc-d-ac-tx);--nc-custom-tx:var(--nc-d-custom-tx);--nc-pink:var(--nc-d-pink);--nc-pink_hover:var(--nc-d-pink_hover);--nc-green:var(--nc-d-green)}
}
*{box-sizing:border-box}
button,html,input,select{font-family:var(--nc-font-sans)}
body{font-family:var(--nc-font-sans);margin:0 auto;max-width:1000px;border-radius:6px;overflow-x:hidden;word-break:break-word;overflow-wrap:break-word;background:var(--nc-yellow);color:var(--nc-tx-2);font-size:1.03rem}
h1{color:#a6d9ff;text-transform:uppercase}
h3{color:#ffc44d}
nav{background:var(--nc-green);padding-left:calc(50vw - 50%);padding-right:calc(50vw - 50%);padding-top:1.8rem;margin:0 calc(50% - 50vw) 0;height:5rem;text-align:center;display:none}
nav a{color:#000;padding:2rem;text-decoration:none;text-transform:uppercase}
nav a:hover{color:var(--nc-orange)}
nav a.selected{color:var(--nc-blue)}
#mobileBar{background-color:var(--nc-pink);height:2rem;margin:0 calc(50% - 50vw) 2rem;padding-left:calc(50vw - 50%);padding-right:calc(50vw - 50%);margin-bottom:0;width:100%;position:fixed}
#mobileBar a.icon{float:right;display:block;position:absolute;right:2rem;top:5px}
.topnav.responsive{position:fixed;height:auto;top:2em;right:0;transition:all .5s ease;z-index:1;overflow-y:scroll;overflow-x:hidden;display:block;padding-top:0;width:50%;text-align:right}
.topnav.responsive a{display:inline-block;width:100%}
#content{padding:0 1.5rem 0}
.container{display:grid}
.col-2,.col-3{grid-template-columns:1fr}
footer{background:var(--nc-orange);margin:3rem calc(50% - 50vw) 0;padding:1rem}
.bannerBg{background-color:var(--nc-d-yellow);padding-left:calc(50vw - 50%);padding-right:calc(50vw - 50%);margin:0 calc(50% - 50vw) 2rem;padding-top:1.5em;text-align:center}
.bannerBg p{text-align:center;margin:0}
picture{position:relative;bottom:-4.5px}
#fugl{text-align:center;margin-top:2rem}
#bunny{background-color:var(--nc-pink);padding:1rem}
#logo{width:100%;}
table{border-collapse:collapse;width:100%}
td,th{border:1px solid var(--nc-bg-3);text-align:left;padding:.5rem}
th{background:var(--nc-bg-4);text-transform:uppercase}
tr:nth-child(even){background:var(--nc-bg-4)}
table caption{font-weight:700;margin-bottom:.5rem}
textarea{max-width:100%}
.chat-button,.chat-button:hover{padding:16px 20px;border:none;cursor:pointer;opacity:.8;position:fixed;bottom:40px;right:28px;width:90px;background-color:var(--nc-d-green)}
.chat-popup{display:none;position:fixed;bottom:0;right:15px;border:3px solid #f1f1f1;z-index:9}
.form-container{max-width:300px;padding:10px;background-color:var(--nc-pink)}
.form-container textarea{width:100%;padding:15px;margin:5px 0 22px 0;border:none;background-color:var(--nc-bg-2);resize:none;min-height:200px}
.form-container textarea:focus{background-color:#ddd;outline:0}
.btn,.btn2{background-color:var(--nc-green);padding:16px 20px;border:none;cursor:pointer;width:100%;margin-bottom:10px;opacity:.8;text-transform:uppercase}
.btn2{background-color:var(--nc-pink);width:auto}
.btn a,.btn2 a{text-decoration:none;color:#000}
.btn:hover{background-color:#107170}
.btn2:hover{background-color:var(--nc-pink_hover)}
.form-container .cancel{background-color:red}
.form-container .cancel:hover{background-color:#e84d4d}
.form-container .btn:hover,.open-button:hover{opacity:1}
input{padding:6px 12px;margin-bottom:.5rem;background:var(--nc-bg-2);color:var(--nc-tx-2);border:1px solid var(--nc-bg-3);border-radius:4px;box-shadow:none;box-sizing:border-box}
input[type=email],input[type=tel],input[type=text]#nafn{width:100%}
.home-left{text-align:center}
input[type=submit]{font-size:1rem;display:inline-block;padding:6px 12px;text-align:center;text-decoration:none;white-space:nowrap;background:var(--nc-pink);color:var(--nc-lk-tx);border:0;border-radius:4px;box-sizing:border-box;cursor:pointer;color:var(--nc-lk-tx);text-transform:uppercase}
input[type=submit]:hover{background-color:var(--nc-pink_hover)}
.slideshow-container{max-width:1000px;position:relative;margin:auto}
.dot{height:15px;width:15px;margin:0 2px;background-color:#bbb;border-radius:50%;display:inline-block;transition:background-color .6s ease}
.active{background-color:#717171}
.fade{animation-name:fade;animation-duration:1.5s}
.icon-envelop:before{content:url(../images/Envelope.png)!important}
@keyframes fade{
from{opacity:.4}
to{opacity:1}
}
#social a{text-decoration:none}
@media screen and (min-width:37.5em){
.col-2{grid-template-columns:1fr 3fr;gap:2em}
.col-3{gap:1em;row-gap:1em}
.footer-info{min-height:7rem}
#mobileBar{display:none}
nav{display:block}
picture{position:relative;bottom:-12px}
}
@media screen and (min-width:48rem){
.col-3{grid-template-columns:1fr 1fr 1fr}
}
@media screen and (min-width:60rem){
.col-3{grid-template-columns:2fr 2fr 1fr}
}
@media screen and (min-width:80rem){
footer{padding:1rem calc(50vw - 50%) 1rem}
body{margin:auto}
}
@media screen and (max-width:37.5em){
table,tbody,td,th,thead,tr{display:block}
thead tr{display:none}
td{display:grid;grid-template-columns:1fr 2fr;line-height:1.5;border-bottom:1px solid #999;text-align:right}
td:before{text-transform:uppercase;font-weight:700;content:attr(data-title);padding-left:5px;margin-left:-5px;padding-top:5px;padding-bottom:5px;margin-top:-5px;margin-bottom:-5px;text-align:left}
}